/* SECTION HERO */
.section-hero-header {
  min-height: 100svh;
}
.hero-header {
  display: grid;
  grid-template-columns: 0.5fr 11.5fr;
}
.nav-bar {
  background-color: var(--black);
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: space-between; */
}
.logo img {
  max-width: 100%;
  display: none;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}
